<!doctype html>
<html ng-app="loopbackApp" ng-controller="LayoutCtrl">
<head>
  <meta charset="utf-8">
  <title>Admin: {{ getSetting('appName') }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css styles/main.css -->
  <!-- include: "type": "css", "files": "css/*.css" -->
  <!-- include: "type": "css", "files": "modules/**/*.css" -->
  <!-- endbuild -->

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

</head>
<body class="{{getSetting('appTheme') }} {{ getSetting('appLayout') }} " ng-controller="MainCtrl">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div ui-view ng-class="{'full-height': currentUser.id === undefined}"></div>

<div ng-controller="toasty-controller">
  <toasty-container toasty-defaults='{"timeout": 3000, "close-button":true, "sound": false}'></toasty-container>
</div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push (arguments)
    }, i[r].l = 1 * new Date ();
    a = s.createElement (o),
      m = s.getElementsByTagName (o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore (a, m)
  }) (window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga ('create', 'UA-XXXXX-X');
  ga ('send', 'pageview');
</script>

<script src="../bower_components/socket.io-client/socket.io.js"></script>
<!-- build:js scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<![endif]-->
<!-- endbuild -->
<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->
<!-- build:js scripts/scripts.js -->
<!-- JS -->
<!-- include: "type": "js", "files": "js/*.js" -->
<!-- MODULES -->
<!-- include: "type": "js", "files": "modules/**/*.js" -->
<!-- endbuild -->
</body>
</html>
