<!--Services Section --> 
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Settings</h2>
            <h3 class="section-subheading text-muted">Customize the settings for you and those you help getting up</h3>
        </div>
    </div>

    <hr>

    <div ng-repeat="client in clients">
      <div class="row text-center bg-box-{{$index%2}}">
      <br>
          <div ng-if='!client.beingWoken' class="col-md-3">
          </div>
          <div class="col-md-2">
              <span class="fa-stack fa-4x">
                <img src="img/team/{{client.name}}.jpg" class="img-responsive img-circle" alt="">
              </span>
              <h4 class="service-heading vert-align">{{client.name}}</h4>
          </div>
          <div class="col-md-2">
          <h5>Next alarm</h5>
                <timepicker ng-model="client.nextAlarm" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
          </div>
        
          <div class="col-md-2">
              <span class="fa-stack fa-4x" ng-click="triggerCall($index)">
                  <i class="fa fa-circle fa-stack-2x text-green"></i>
                  <i class="fa icon ion-play fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="service-heading">Try now</h4>
          </div>

          <div class="col-md-3">
          <iframe ng-if="client.beingWoken" src="http://750b19f5.ngrok.io/" height="300" width="400" frameborder="0"></iframe>
          </div>
      </div>

      <div class="row text-center bg-box-{{$index%2}}">
          <div class="col-md-2">
              <span class="fa-stack fa-4x" ng-click="changePref(0,'move')">
                  <i ng-if="client.prefs.move" class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i ng-if="client.prefs.move"  class="fa icon ion-ios-body fa-stack-1x fa-inverse"></i>
                  <i ng-if="!client.prefs.move" class="fa fa-circle fa-stack-2x fa-inverse  fa-strikethrough"></i>
                  <i ng-if="!client.prefs.move"  class="fa icon ion-ios-body fa-stack-1x text-primary fa-strikethrough"></i>
              </span>
              <h4 class="service-heading">Move</h4>
          </div>
          <div class="col-md-2">
              <span class="fa-stack fa-4x" ng-click="changePref(0,'music')">
                  <i ng-if="client.prefs.music" class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i ng-if="client.prefs.music"  class="fa fa-music fa-stack-1x fa-inverse"></i>
                  <i ng-if="!client.prefs.music" class="fa fa-circle fa-stack-2x fa-inverse"></i>
                  <i ng-if="!client.prefs.music"  class="fa fa-music fa-stack-1x text-primary"></i>
              </span>
              <h4 class="service-heading">Music</h4>
          </div>
          <div class="col-md-2">
              <span class="fa-stack fa-4x" ng-click="changePref(0,'news')">
                  <i ng-if="client.prefs.news" class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i ng-if="client.prefs.news"  class="fa icon ion-earth fa-stack-1x fa-inverse"></i>
                  <i ng-if="!client.prefs.news" class="fa fa-circle fa-stack-2x fa-inverse"></i>
                  <i ng-if="!client.prefs.news"  class="fa icon ion-earth fa-stack-1x text-primary"></i>
              </span>
              <h4 class="service-heading">News</h4>
          </div>
          <div class="col-md-2">
              <span class="fa-stack fa-4x" ng-click="changePref(0,'jokes')">
                  <i ng-if="client.prefs.jokes" class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i ng-if="client.prefs.jokes"  class="fa icon ion-happy-outline fa-stack-1x fa-inverse"></i>
                  <i ng-if="!client.prefs.jokes" class="fa fa-circle fa-stack-2x fa-inverse"></i>
                  <i ng-if="!client.prefs.jokes"  class="fa icon ion-happy-outline fa-stack-1x text-primary"></i>
              </span>
              <h4 class="service-heading">Jokes</h4>
          </div>
          <div class="col-md-2">
              <span class="fa-stack fa-4x" ng-click="changePref(0,'calendar')">
                  <i ng-if="client.prefs.calendar" class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i ng-if="client.prefs.calendar"  class="fa icon ion-calendar fa-stack-1x fa-inverse"></i>
                  <i ng-if="!client.prefs.calendar" class="fa fa-circle fa-stack-2x fa-inverse"></i>
                  <i ng-if="!client.prefs.calendar"  class="fa icon ion-calendar fa-stack-1x text-primary"></i>
              </span>
              <h4 class="service-heading">Calendar</h4>
          </div>
          <div class="col-md-2">
              <span class="fa-stack fa-4x" ng-click="changePref(0,'coffee')">
                  <i ng-if="client.prefs.coffee" class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i ng-if="client.prefs.coffee"  class="fa icon ion-coffee fa-stack-1x fa-inverse"></i>
                  <i ng-if="!client.prefs.coffee" class="fa fa-circle fa-stack-2x fa-inverse"></i>
                  <i ng-if="!client.prefs.coffee"  class="fa icon ion-coffee fa-stack-1x text-primary"></i>
              </span>
              <h4 class="service-heading">Coffee</h4>
          </div>
      </div>

      <hr>
    </div>
</div>


    <button ng-click="startSocket()">Start a socket</button>
<!-- <iframe src="http://750b19f5.ngrok.io/" height="300" width="400" frameborder="0"></iframe> -->
