<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <small-box title="{{ box.name }}" color="{{ box.color }}" icon="{{ box.icon }}"
                   quantity="{{ box.quantity }}" href="{{ box.href }}" ng-repeat="box in boxes"></small-box>

      </div>
      <button ng-click="triggerCall()">Call me</button>
    </div>
  </div>

</section>
